    <%- include ('./partials/head') %>
    <title>Amamos el color!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/home_styles.css">     <!-- REVISAR LINK DE ESTILOS  -->
    <link rel="stylesheet" href="/css/forgotpassword_styles.css"> 
</head>

<body>
    <%- include ('./partials/header') %>
    <main>
        <div class="passwordSection">
            <form class="passwordWraper">
               
                <h2>
                    OLVIDÉ MI CONTRASEÑA
                </h2>
                <p>
                    Por favor introduzca su dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña.
                </p>

                <div class="passwordInput">
                    <label for="login_email">Correo electrónico:</label>
                    <input type="text" name="Email"/>
                </div>

                <button class="recuperarContrasena" type="submit">RESTABLECER CONTRASEÑA</button>

            </div>
       
        </form>
        </div>
        <%- include('./partials/footer') %> 
    
        </main>   
    </body>
    </html>
    
    