<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
</head>
<body>
    <header>
        <div class="header-container">
            <div class="img-container"><img src="./img/logo.jpg" alt="logo"  class="logo"></div>
            <img src="./img/logoMachiMachi.jpeg" alt="logo Machi Machi" class="logoMachiMachi">
            <div class="icons-nav">
                <i class="fas fa-search general"></i>
                <i class="fas fa-heart general"></i>
                <i class="fas fa-shopping-bag general"></i>
                <i class="fas fa-user general"></i>
            </div>
        </div>
        <nav>
            <ul>
                <!--TODO: las etiquetas a deberían linkear a las secciones correspondientes-->
                <li><a href="" class="general">Home</a></li>
                <li><a href="" class="bebes">Bebés</a></li>
                <li><a href="" class="niños">Niños</a></li>
                <li><a href="" class="niñas">Niñas</a></li>
                <li><a href="" class="sale">Sale</a></li>
            </ul>    
        </nav>
    </header>
    
    <main>
        <section class="resume-cart">
            <h4>Mi carrito</h4>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Talle</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item-info">
                        <td class="td-img">
                            <img src="./img/Gorrito cebra.png" alt="producto" class="img-product">
                        </td>
                        <td class="item-detail">
                            <div class="product-item-detail">
                                <h7 class="title-item-detail">Gorrito de cebra tejido a mano</h7>
                                <dl>
                                    <dt>Talle: </dt>
                                    <dd>Medium</dd>
                                </dl>
                                <span class="price">Precio: $650</span>
                            </div>
                            <div class="container-cant-subtotal">
                                <div class="cantidad">
                                    <button class="plus-less">-</button>
                                    <input type="text" class="inp-cantidad" value="1">
                                    <button class="plus-less">+</button>
                                </div>
                                <span class="total-item">$650</span>
                            </div>
                        </td>
                        <td class="tacho">
                            <div><i class="far fa-trash-alt"></i></div>
                        </td>
                    </tr>
                    <tr class="item-info">
                        <td class="td-img">
                            <img src="./img/Gorrito frutilla.png" alt="producto" class="img-product">
                        </td>
                        <td class="item-detail">
                            <div class="product-item-detail">
                                <h7 class="title-item-detail">Gorrito frutilla tejido a mano</h7>
                                <dl>
                                    <dt>Talle: </dt>
                                    <dd>Large</dd>
                                </dl>
                                <span class="price">Precio: $650</span>
                            </div>
                            <div class="container-cant-subtotal">
                                <div class="cantidad">
                                    <button class="plus-less">-</button>
                                    <input type="text" class="inp-cantidad" value="2">
                                    <button class="plus-less">+</button>
                                </div>
                                <span class="total-item">$1300</span>
                            </div>
                        </td>
                        <td class="tacho">
                            <div><i class="far fa-trash-alt"></i></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="resume-cart">
            <h4>Resumen de la compra</h4>
            <div class="cupon-descuento">
                <h6><i class="fas fa-gift"></i> ¿Tenés un cupón de descuento?</h6>
                <div class="descuento">
                    <div class="inp-aplicar">
                        <input type="text" placeholder="Ingresá tu cupón">
                    </div>                    
                    <div class="btn-aplicar">
                        <button>Aplicar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>