<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amamos el color!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/product_styles.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="img-container">  <img class="logo" src="/images/mm-logo.jpeg" alt="logo"> </div>
            <img src="/images/mm-logo-con-nombre.png" alt="logo con nombre" class="marca">
            <div class="icons-nav" >
                <a href="#"> <i class="fas fa-search"></i> </a>
                <a href="#"> <i class="fas fa-heart general"></i> </a>
                <a href="#"> <i class="fas fa-shopping-bag general"></i> </a>
                <a href="#"> <i class="far fa-user general"></i></a>
            </div>
        </div>
        <nav class= "secciones">
            <a href="/" id="home">Home</a>
            <a href="#" id="niños">Niños</a>
            <a href="#" id="niñas">Niñas</a>
            <a href="#" id="sale">Sale</a>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>

        <div class="product-detail">
            <div class="product-images">
                <img class="product-main-img" src="/images/Gorrito cebra.png" alt="producto"> 
                <div class="alt-pics">
                    <a href="#"> <img src="/images/Gorrito frutilla.png" alt="" ></a>
                    <a href="#"> <img src="/images/IMG_0502.jpg" alt="" ></a>
                    <a href="#"> <img src="/images/IMG_0504.jpg" alt="" ></a>    
                </div>
            </div>

            <div class="product-description">
                <h3 class="item">Gorro Cebra</h3>
                <h4 class="price"> $ 650.-</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga suscipit soluta voluptas error fugit minima a dolorem? Repellat officiis corporis nesciunt temporibus! </p>
                <div class="quantity"> <p><input type="Cantidad"> Cantidad </p></div>
                <div class="buy-button"> <a href="/cart">COMPRAR</a></div>

            </div>
        </div>
      
        <section class="recomendados">
            <h4>Te podría interesar</h4>
            <div class="recommended-products">
                <a href="#"> <img src="/images/IMG_0501.jpg" alt="" width=18vw></a>               
                <a href="#"> <img src="/images/IMG_0495.jpg" alt="" width=18vw></a> 
                <a href="#"> <img src="/images/IMG_0498.jpg" alt="" width=18vw></a> 
                <a href="#"> <img src="/images/IMG_0499.jpg" alt="" width=18vw></a> 
                <!--        <div id="imagen_producto_2" class="imagen_producto"></div>
                <div id="imagen_producto_3" class="imagen_producto"></div>
                <div id="imagen_producto_4" class="imagen_producto"></div> -->
            </div>
        </section>

        <section class="suscribe">
            <a href="/register" > Registrarse</a> 
        </section>
        
        <footer class="footer">
            
            <div class="footer-container">
                <div>
                    <a href="#"> <h4>NOSOTROS</h4></a>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </div>
                <div>
                    <a href="#"> <h4>CONTACTO</h4></a>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                </div>
                <div>
                    <a href="#"> <h4>AYUDA</h4></a>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                </div>
                <div>
                    <a href="#"> <h4>SEGUINOS</h4></a>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                </div>          
            </div>
        </footer>
        <section class="copyright">
                <p>2022. Todos los derechos reservados.</p>
            </section>
    </main>
    
</body>
</html>