    <%- include ('./partials/head') %>
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="css/productCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
</head>
<body>
    <%- include ('./partials/header') %>
    
    <main>
        
        <section class="resume-products">
            <h4>Mi carrito</h4>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Talle</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item-info">
                        <td class="td-img">
                            <img src="./images/Gorrito cebra.png" alt="producto" class="img-product">
                        </td>
                        <td class="item-detail">
                            <div class="product-item-detail">
                                <h7 class="title-item-detail">Gorrito de cebra tejido a mano</h7>
                                <dl>
                                    <dt>Talle: </dt>
                                    <dd>Medium</dd>
                                </dl>
                                <span class="price">Precio: $650</span>
                            </div>
                            <div class="container-cant-subtotal">
                                <div class="cantidad">
                                    <button class="plus-less">-</button>
                                    <input type="text" class="inp-cantidad" value="1">
                                    <button class="plus-less">+</button>
                                </div>
                                <span class="total-item">$650</span>
                            </div>
                        </td>
                        <td class="tacho">
                            <div><i class="far fa-trash-alt"></i></div>
                        </td>
                    </tr>
                    <tr class="item-info">
                        <td class="td-img">
                            <img src="./images/Gorrito frutilla.png" alt="producto" class="img-product">
                        </td>
                        <td class="item-detail">
                            <div class="product-item-detail">
                                <h7 class="title-item-detail">Gorrito frutilla tejido a mano</h7>
                                <dl>
                                    <dt>Talle: </dt>
                                    <dd>Large</dd>
                                </dl>
                                <span class="price">Precio: $650</span>
                            </div>
                            <div class="container-cant-subtotal">
                                <div class="cantidad">
                                    <button class="plus-less">-</button>
                                    <input type="text" class="inp-cantidad" value="2">
                                    <button class="plus-less">+</button>
                                </div>
                                <span class="total-item">$1300</span>
                            </div>
                        </td>
                        <td class="tacho">
                            <div><i class="far fa-trash-alt"></i></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="resume-cart">
            <h4>Resumen de la compra</h4>
            <div class="cupon-descuento">
                <h6><i class="fas fa-gift"></i> ¿Tenés un cupón de descuento?</h6>
                <div class="descuento">
                    <div class="inp-aplicar">
                        <input type="text" placeholder="Ingresá tu cupón" required>
                        <button>Aplicar</button>
                    </div>
                </div>
            </div>
            <div class="resume-valor">
                <span>Subtotal: $1950</span>
                <span>Total: $1950</span>
                <button type="submit">Iniciar pago</button>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>