<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amamos el color!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="marca"> 
                <p>machi machi</p>
            </div>
            <div class="accesos-directos" >
                <a href="#"> <i class="fa fa-search"></i> </a>
            </div>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Colección</a>
            <a href="#">Galería</a>
            <a href="#">Ofertas</a>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    
</body>
</html>