<%- include ('./partials/head') %>
    <title>Amamos el color!</title>
    <link rel="stylesheet" href="css/product_styles.css">
</head>

<body>
    <%- include ('./partials/header') %>

    <main>

        <div class="product-detail">
            <div class="product-images">
                <img class="product-main-img" src=<%= producto.img %> alt="producto"> 
               <!-- <div class="alt-pics">
                    <a href="#"> <img src="/images/Gorrito frutilla.png" alt="" ></a>
                    <a href="#"> <img src="/images/IMG_0502.jpg" alt="" ></a>
                    <a href="#"> <img src="/images/IMG_0504.jpg" alt="" ></a>    
                </div>-->
            </div>

            <div class="product-description">
                <h3 class="item">Gorro Cebra</h3>
                <h4 class="price"> $ 650.-</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga suscipit soluta voluptas error fugit minima a dolorem? Repellat officiis corporis nesciunt temporibus! </p>
                <div class="quantity"> <p><input type="Cantidad"> Cantidad </p></div>
                <div class="buy-button"> <a href="/cart">COMPRAR</a></div>

            </div>
        </div>
      
        <section class="recomendados">
            <h4>Te podría interesar</h4>
            <div class="recommended-products">
                <a href="#"> <img src="/images/IMG_0501.jpg" alt="" width=18vw></a>               
                <a href="#"> <img src="/images/IMG_0495.jpg" alt="" width=18vw></a> 
                <a href="#"> <img src="/images/IMG_0498.jpg" alt="" width=18vw></a> 
                <a href="#"> <img src="/images/IMG_0499.jpg" alt="" width=18vw></a> 
                <!--        <div id="imagen_producto_2" class="imagen_producto"></div>
                <div id="imagen_producto_3" class="imagen_producto"></div>
                <div id="imagen_producto_4" class="imagen_producto"></div> -->
            </div>
        </section>

        <section class="suscribe">
            <a href="/register" > Registrarse</a> 
        </section>
        
        
    </main>
    
</body>
</html>