.passwordSection {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.passwordWraper {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px 20px;
    border-radius: 5px;
    /*shadow props*/
    box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.68);
-webkit-box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.68);
-moz-box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.68);
}

.passwordInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.passwordInput>input{
    
    background-color: #E1E1E1;

}

h2 {
    text-align: center;
    color: #e23f30;
    font-weight: 600;
}

.passwordInput>label{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
}

.passwordWraper>p {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 15px;
}

.passwordWraper>button{
    background-color: #e23f30;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

form>button.recuperarContrasena:hover{
    background-color: #E61515;
    color: white;
    font-weight: 600;
    transition-duration: 500ms;
}

/* Tablet */
@media (min-width: 361px) and (max-width: 769px) {
    header nav{
        padding: 10px;
        display: block;
        margin: 0;
    }

    header nav a {
        font-size: 15px;
        padding: 8px;
    }

    div.burger-menu i{ 
        display: none;
    }
    
    .footer-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
    }
    .footer-container div {
        max-width: 20vw;
    }

    .footer-container div p {
        display: inline;
}

/*
main section .products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
*/  


/* Desktop*/
@media (min-width: 770px){
    
    header nav{
        display: block;
        padding: 15px;
        margin: 0;
    }
}
    
    header nav a {
        font-size: 18px;
        padding: 8px;
    }
           
    div.burger-menu i{ 
        display: none;
    }
}