*{
    box-sizing: border-box;
    font-family: 'poppins';
}

.marca {
    width: 40vw;
    margin-left: 5vw;
}

.required{
    margin: 3px 0;
    color: #EA3F32;
    font-weight: bold;
}

#niños {color: #326DC7;}
#niñas {color:#FC5DD9;}
#sale{color:#0F9D58;}
#home{color: #EA3F32;}
#name, #img {font-size: 12px;;}

#radio-button {
    display:flex;
    justify-content: space-between;
    font-size: 12px;
}

.register-form, .upload-form, .login-section {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.wraper {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px 20px;
    border-radius: 5px;
    /*shadow props*/
    box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.68);
-webkit-box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.68);
-moz-box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.68);
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.input>input{
    
    background-color: #E1E1E1;
}

.input>label{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
}

h2 {
    text-align: center;
    color: #e23f30;
    font-weight: 600;
    padding-bottom: 15px;
}

.wraper>p {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.wraper>button{
    background-color: #E1E1E1;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;

}

.input>button{
    background-color: #e23f30;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

form div>button.submit:hover{
    background-color: #E61515;
    color: white;
    font-weight: 600;
    transition-duration: 500ms;
}


/* Tablet */
@media (min-width: 361px) {

}  


/* Desktop*/
@media (min-width: 770px){

}