*{
    box-sizing: border-box;
    font-family: 'poppins';
}

.yellow{
    color:#F4B400;
    font-size: 40px;
}

.blue{
    color: #326DC7;
    font-size: 40px;
}

.pink{
    color:#FC5DD9;
    font-size: 40px;
}

.green{
    color:#0F9D58;
    font-size: 40px;
}

.red{
    color: #EA3F32;
    font-size: 40px;
}

.main-title{
    padding: 10px 40px;
}

#promo {
    height: 45vh;
    margin: 10px 0px 30px 0;
    background-image: url("/images/Web-Banner-machi-machi-1.jpg");
    background-size: cover;
    color: darkred;
    text-align: center;
    font-size: 20;
    font-style: italic;
}

body{
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.products a{
    color: darkred;
    text-decoration: none;
}

.products .product-container{
    display: flex;
    width: 300px;
    height: 380px;
    justify-content: center;
    align-items: center;
    margin: 30px 15px;
    border-radius: 5px;
}

.products .product-container:hover {
    box-shadow: 10px 10px 20px pink;;
}

.products .product-container img{
    width: 300px;
    height: 280px;
    border-radius: 5px;
}

.product-name {
    margin: 5px 0;
}
.price {
    font-style: italic;
    margin: 0px;
}
.price-tachado{
    font-size: 16px;
    text-decoration:line-through;
}

/* Tablet */
@media (min-width: 361px) {
}  


/* Desktop*/
@media (min-width: 770px){
}