.container{
    width: 70px;
    display: flex;
  
}

.sec-wrapper{
    justify-content: center;
    display: flex;
}

p{
    padding: 4px 0;
    
    
}

h4{
    padding: 15px 0;
    font-family: 'poppins';
    font-size: 30px;
    text-align: center;
    color: #e23f30;
    font-weight: 600;
}

.nosotros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
    box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.20);
}

.yellow{
    color:#F4B400;
    font-size: 30px;
}

.blue{
    color: #326DC7;
    font-size: 30px;
}

.pink{
    color:#FC5DD9;
    font-size: 30px;
}