*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}

/* main */
body{
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

main{
    padding: 5px;
}

main h4{
    margin: 15px 3px;
}


/*New item product*/

.product-detail{
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
}

.product-img{
    width: 65px;
    height: 65px;
}

.img-product{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.title-item-detail{
    font-size: 12px;
    font-weight: 600;
    display: block;
    text-align: center;
}

.description-detail span{
    display: block;
    text-align: center;
}

.container-cant-subtotal{
    display: flex;
    width: 100%;
    justify-content: center;
}

.cantidad{
    display: flex;
    justify-content: flex-start;
    width: 60%;
    min-height: 15px;
    border: 1px solid black;
}


.plus-less{
    width: 30%;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.inp-cantidad{
    width: 40%;
    border: 0;
    text-align: center;
    font-size: 11px;
    background-color: #fff;
}

.other-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-item{
    font-size: 14px;
    margin-right: 15%;
}

.tacho{
    display: flex;
    justify-content: center;
    width: 10%;
}

/* Resumen de compra */

.resume-cart{
    margin: 3px 0;
}
.resume-products{
    margin: 3px 0;
}

.cupon-descuento{
    background-color: #EFEBEB;
    border-radius: 5px;
    padding: 10px 0;
}

.cupon-descuento>h6{
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.descuento{
    display: flex;
    height: 20px;
    padding: 10px;
    justify-content: center;
}

.descuento>div.inp-aplicar{
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1px;
    border: 2px solid #999;
}

div.inp-aplicar:focus-within{
    border: 2px solid #EA3F32;
    transition-duration: 300ms;
}

.descuento>div>input{
    border:0;
    outline: none;
}

.descuento>div>button{
    border: 0;
    background-color: white;
}

.descuento>div>button:hover{
    cursor: pointer;
}

.resume-valor{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

.resume-valor>span{
    padding: 2px;
}

.resume-valor>button{
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(240, 57, 57);
    color: white;
    display: none;
}

.resume-valor>button:hover{
    background-color: #E61515;
    color: white;
    transition-duration: 500ms;
    cursor: pointer;
}

.without-products{
    text-align: center;
    margin-top: 50px;
}

@media (min-width: 391px) {
    .title-item-detail{
        font-size: 16px;
        font-weight: 600;
        display: block;
        padding: 5px 0;
    }

    .product-img{
        width: 120px;
        height: 120px;
    }

    .description-detail span{
        display: block;
        text-align: center;
        padding: 2px 0;
    }

    .container-cant-subtotal{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 2px 0;
    }

    .other-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
    }

    main h4{
        margin: 20px 5px;
        font-size: 20px;
    }
}

/* Desktop*/
@media (min-width: 770px){

    .title-item-detail{
        font-size: 20px;
        font-weight: 600;
        display: block;
        padding: 10px 0;
    }

    .product-img{
        width: 180px;
        height: 180px;
    }

    .description-detail span{
        display: block;
        text-align: center;
        padding: 5px 0;
        font-size: 16px;
    }

    .container-cant-subtotal{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 5px 0;
    }

    .cantidad{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        min-height: 30px;
        border: 1px solid black;
        border-radius: 2px;
    }

    .other-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 0;
    }

    main h4{
        margin: 20px;
        font-size: 30px;
    }

    main{
        display: flex;
        justify-content: space-around;
    }

    .resume-products{
        margin: 3px 0;
        width: 58%;
    }
    .resume-cart{
        width: 38%;
    }

    .cupon-descuento>h6{
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }
    span{
        font-size: 16px;
    }
}

