*{
    box-sizing: border-box;
    font-family: 'poppins';
}

#niños {color: #326DC7;}
#niñas {color:#FC5DD9;}
#sale{color:#0F9D58;}
#home{color: #EA3F32;}

/*FLEX container */

body{
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

.product-detail{
    display: flex;
    margin: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

/*Fotos del producto*/
.product-images {
    justify-content: space-around;
    margin-top: 15px;
    width: 30vw;
    display: flex;
    min-width: 190px;
}

.product-main-img {
    height: 400px;
    min-width: 160px;
}

.alt-pics {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.alt-pics a img{
    width: 15vw;
}

/*CAJA DETALLES*/
div.product-description{
    margin-top: 15px;
    width: 40vw;
    min-width: 180px;
}

#product-name {
    color: darkred;
    font-weight: bolder;
    margin: 12px 12px 0px 12px;
}

#edit-title {
    color: darkred;
    font-weight: bolder;
   
}

#edit-title {
    border: red 2px;    
}
h4 {
    margin: 5px 12px 12px 12px;
    font-size: small;
    font-weight: bolder;
}

.talles { font-size: 12px; }

div.product-description>p{
    text-align: left;
    color: black;
    font-weight: 600;
    font-size: 12px;
    margin: 12px;
}


div.quantity p input{
    width: 20px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin: 12px;
}

div.buy-button {
    text-align: center;
    
        padding: 0.2em;
        background-color: #e23f30;
        border-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        color: white;
    
}

/* div.buy-button a {
    color: darkred;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    padding: 5px 30px;
    margin: 12px;
    background-color: #EFEBEB;
    border-radius: 0%;
} */

div.product-edit {
    background-color: #EFEBEB;
    padding: 10px;
    margin: 12px;
}


.edit-button{
    background-color: #e23f30;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 5px 30px;
    margin: 30px 0 0 220px;
}

.edit-button:hover{
    background-color: #E61515;
    color: white;
    font-weight: 600;
    transition-duration: 500ms;
}

#name.control, #price.control {
    font-size:12px;
}


.recomendados {
    border-top: solid #EFEBEB 2px;
    border-bottom: solid #EFEBEB 2px;;
    margin: 50px 20px;
}

.recomendados h4 {
    color: darkred;
    margin-top: 20px;
    font-weight: bolder;
}

.product-recommended h4{
    margin: 0;
}

.product-recommended a{
    text-decoration: none;
}

.recommended-products {
    /*border: solid black 3px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.recommended-products .price {
    font-style: italic;
    margin: 0px;
}

.product-recommended{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.recommended-products a img{
    width: 140px;
    height: 140px;
}

.product-recommended:hover {
    box-shadow: 10px 10px 20px pink;;
}

img{
    border-radius: 5px;
}
 
.imagenes_producto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.price-tachado{
    font-size: 16px;
    text-decoration:line-through;
}

.product-description h4{
    margin: 10px 12px 12px 0px;
}
  

/* Tablet */
@media (min-width: 361px) {
}


/* Desktop*/
@media (min-width: 770px){  

        
}