*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}

.bebes{
    color:#F4B400;
}

.niños{
    color: #326DC7;
}

.niñas{
    color:#FC5DD9;
}

.sale{
    color:#0F9D58;
}

.general{
    color: #EA3F32;
}

span{
    font-size: 12px;
}

/* main */
main{
    padding: 5px;
}

main h4{
    margin: 15px 3px;
}
main section thead{
    margin-left: 10px;
    border-collapse: collapse;
}
main section thead tr th{
    display: none;
}

/* Item */
main section table tbody tr.item-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}

.td-img{
    width: 20%;
    margin: 0 3%;
}

.img-product{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.item-detail{
    width: 60%;
}

.product-item-detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 18px;
}

.title-item-detail{
    font-size: 12px;
    font-weight: 600;
    display: block;
}

dl{
    display: flex;
    font-size: 10px;
    color: #999;
}

.price{
    font-size: 11px;
}

.container-cant-subtotal{
    display: flex;
    justify-content: space-between;
}

.cantidad{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    height: 25%;
    min-height: 20px;
    border: 1px solid black;
}

.plus-less{
    width: 30%;
    border: 0;
    background-color: #fff;
}

.inp-cantidad{
    width: 40%;
    border: 0;
    text-align: center;
    font-size: 11px;
}

.total-item{
    font-size: 14px;
    margin-right: 15%;
}

.tacho{
    display: flex;
    justify-content: center;
    width: 10%;
}

/* Resumen de compra */

.resume-cart{
    margin: 3px 0;
}
.resume-products{
    margin: 3px 0;
}

.cupon-descuento{
    background-color: #EFEBEB;
    border-radius: 5px;
    padding: 10px 0;
}

.cupon-descuento>h6{
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.descuento{
    display: flex;
    height: 20px;
    padding: 10px;
    justify-content: center;
}

.descuento>div.inp-aplicar{
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1px;
    border: 2px solid #999;
}

div.inp-aplicar:focus-within{
    border: 2px solid #EA3F32;
    transition-duration: 300ms;
}

.descuento>div>input{
    border:0;
    outline: none;
}

.descuento>div>button{
    border: 0;
    background-color: white;
}

.descuento>div>button:hover{
    cursor: pointer;
}

.resume-valor{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

.resume-valor>span{
    padding: 2px;
}

.resume-valor>button{
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(240, 57, 57);
    color: white;
    display: none;
}

.resume-valor>button:hover{
    background-color: #E61515;
    color: white;
    transition-duration: 500ms;
    cursor: pointer;
}


@media (min-width: 361px) {
    .title-item-detail{
        font-size: 16px;
        font-weight: 600;
        display: block;
        padding: 2px 0;
    }

    dl{
        display: flex;
        font-size: 14px;
        color: #999;
        padding: 2px 0;
    }

    .price{
        font-size: 15px;
        padding: 2px 0;
    }

    main section table tbody tr.item-info{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 10px 0;
    }

    main h4{
        margin: 20px 5px;
        font-size: 20px;
    }
}

/* Desktop*/
@media (min-width: 770px){
    main h4{
        margin: 20px;
        font-size: 30px;
    }

    main{
        display: flex;
    }

    .resume-products{
        margin: 3px 0;
        width: 58%;
    }
    .resume-cart{
        width: 38%;
    }
}

