.redes-wrapper{
    justify-content: center;
    display: flex;
}

h4{
    padding: 15px 0;
    font-family: 'poppins';
    font-size: 30px;
    text-align: center;
    color: #e23f30;
    font-weight: 600;
}

p{
    padding: 4px 0;
    
    
}

.seguinos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.40);
}
