<%- include ('./partials/head') %>
<title>Registrate!</title>
<link rel="stylesheet" href="/css/ayuda.css">    
<link rel="stylesheet" href="/css/normalize.css">  
</head>

<body>
    <%- include ('./partials/header') %>
    <section class= "help-wrapper">
    <div class="ayuda">
        <h4> ¿NECESITAS AYUDA? </h4>
        <p>
            Si al momento de efectuar tu compra, presentaste algún inconveniente, no dudes es ponerte en contacto con nosotros mediante nuestro canal de atención llamando al 0800-557-2490
         
        </p>
    </div>
    </section>

    <%- include('./partials/footer') %> 
</body>
