<%- include ('./partials/head') %>
<title>Registrate!</title>
<link rel="stylesheet" href="/css/ayuda.css">    
<link rel="stylesheet" href="/css/normalize.css">  
</head>

<body>
    <%- include ('./partials/header') %>
    <section class= "help-wrapper">
    <div class="ayuda">
        <h3> ¿NECESITAS AYUDA? </h3>
        <p>
            Si al momento de fectuar tu compra, presentaste algún inconveniente, no dudes es ponerte en contacto con nosotros mediante nuestros canales de atención.
            <a href="/home/contacto">Solicitar ayuda</a>  
        </p>
    </div>
    </section>

    <%- include('./partials/footer') %> 
</body>
