<%- include ('./partials/head') %>
<title>Registrate!</title>
<link rel="stylesheet" href="/css/contacto.css">    
<link rel="stylesheet" href="/css/normalize.css">  
</head>

<body>
    <%- include ('./partials/header') %>
    <section class= "contact-wrapper">
        <div class="contacto">
            <h4> CONOCE NUESTROS CANALES DE ATENCIÓN </h4>
            <p>
             Teléfono de contacto: 0800-557-2490  
            </p>
            <p>
            Dirección de correo electrónico: atencionalcliente@machimachi.com
            </p>
        </div>
        </section>
    
        <%- include('./partials/footer') %> 
    </body>
    