<%- include ('./partials/head') %>
<title>Login</title>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include ('./partials/header') %>
    <main>
        <div class="login-section">
            <form class="wraper">
                <h2>
                    Iniciá sesión
                </h2>
                <div class="input">
                    <label for="login_email">Correo electrónico:*</label>
                    <input type="text" name="Email" placeholder="Ingresá tu e-mail" />
                </div>
                <div class="input">
                    <label for="login_password">Contraseña:*</label>
                    <input type="password" name="login_password" placeholder="Ingresá tu contraseña" />

                </div>
                <p>
                    <a href="/user/forgotpassword">Olvidé mi contraseña</a>
                </p>
                <div class="input">
                    <button class="submit" type="submit">Iniciar sesión</button>
                </div>
            </form>
        </div>   
    </main>
<%- include('./partials/footer') %>
</body>
</html>