<%- include ('./partials/head') %>
<title>Registrate!</title>
<link rel="stylesheet" href="/css/nosotros.css">    
<link rel="stylesheet" href="/css/normalize.css">  
</head>

<body>
    <%- include ('./partials/header') %>
    <section class= "sec-wrapper">

        <div class="nosotros">
            <h3 class="main-title"> <span class="pink">NO</span><span class="blue">SO</span><span class="yellow">TROS</span></h3>
            <p>
                Somos un emprendimiento de ropa infantil tejida a mano para chicos y chicas de 3 a 12 años.
                Nuestra idea fuerza es "amamos el color" y queremos ofrecerte una alternativa fresca y divertida 
                en el mercado de ropa para niños que traiga a la memoria los pulóveres que nos tejían nuestras abuelas,
                revalorizando el valor del trabajo artesanal y que vuelva a vestir a los niños como niños y no con 
                guardarropas de pequeños adultos.
            </p>
            <p>
                Nos enfocamos especilmente en ropa pensada para que los chicos jueguen, corran, se expresen, se diviertan y, 
                fundamentalmente, sean niños. es por ello que diseñamos prendas en colores vivos, que transmitan felicidad y 
                que permitan a los niños expresarse sin prejuicios y mostrarse como son.
            </p>
            <p>
                Nuestras prendas son confeccionadas con lanas de primera calidad y con el amor, el detalle y el esmero que solo 
                el trabajo hecho a mano puede dar.

            </p>
            
        </div>
    </section>
    <%- include('./partials/footer') %> 
</body>
</html>

  