<%- include ('./partials/head') %>
<title>Registrate!</title>
<link rel="stylesheet" href="/css/not_found.css">    
<link rel="stylesheet" href="/css/normalize.css">  
</head>

<body class="container">
    <%- include ('./partials/header') %>
    <main class="main">
        <h1>Ooops Pagina no encontrada</h1>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>