<%- include ('./partials/head') %>
<title>Registrate!</title>
<link rel="stylesheet" href="/css/seguinos.css">    
<link rel="stylesheet" href="/css/normalize.css">  
</head>

<body>
    <%- include ('./partials/header') %>
    <section class= "redes-wrapper">
        <div class="seguinos">
            <h4> CONOCE NUESTRAS REDES SOCIALES </h4>
            <p>
             Instagram: @somos.machimachi
            </p>
            <p>
            
            </p>
        </div>
        </section>
    
        <%- include('./partials/footer') %> 
    </body>