<footer class="footer">
    
    <% if (!locals.isLogged) { %> 
        <section class="suscribe">
            <a href="/user/register" > Registrarse</a> 
        </section>
        <% } %> 

    <div class="footer-container">
        <div>
            <a href="nosotros"> <h4>NOSOTROS</h4></a>
        </div>
        <div>
            <a href="contacto"> <h4>CONTACTO</h4></a>
        </div>
        <div>
            <a href="ayuda"> <h4>AYUDA</h4></a>
        </div>
        <div>
            <a href="seguinos"> <h4>SEGUINOS</h4></a>
        </div>          
    </div>
    <section class="copyright">
        <p>2022. Todos los derechos reservados.</p>
    </section>
</footer>
