<header>
    <div class="header-container">
        <a href="/"><img src="/./images/logo2-machimachi.png" alt="logo"  class="logo"> </a>
        <a href="/" class="title-main"><img src="/./images/mm-logo-con-nombre.png" alt="logo Machi Machi" class="logoMachiMachi"></a>
        <div class="icons-nav">
            <form action="/product/search" method="GET">
                <input type="text" placeholder="Buscar" name="search">            
            </form>            
            <a href=""><i class="fas fa-heart general"></i></a>
            <a href="/cart"><i class="fas fa-shopping-bag general"></i></a>
            <% if (!locals._locals.isLogged) { %> 
                <a href="/user/login" id="usericon"><i class="fas fa-user general"></i> </a>
            <% } else { %> 
                <a href="/user/profile" id="usericon"><i class="fas fa-user general"></i> <%= locals._locals.loggedUser.name %> </a>
            <% } %>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/" class="general">Home</a></li>
            <li><a href="/product/ninos" class="ni単os">Ni単os</a></li>
            <li><a href="/product/ninas" class="ni単as">Ni単as</a></li>
            <li><a href="/product/sale" class="sale">Sale</a></li>
        </ul>
    </nav>
</header>
